<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Patient Practice</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="demo">
                <span class="bi bi-caret-right-nav-menu" aria-hidden="true"></span> Demo
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="simulation">
                <span class="bi bi-heart-pulse-fill-nav-menu" aria-hidden="true"></span> Simulation
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scenario-editor">
                <span class="bi bi-pencil-square-nav-menu" aria-hidden="true"></span> Scenario Editor
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="class-management">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Class Management
            </NavLink>
        </div>
    </nav>
</div>

