@page "/demo"
@attribute [StreamRendering]

<PageTitle>Demo</PageTitle>

<div class="simShell">
    <div class="card">
        <div class="sectionTitle">Demo</div>
        <div class="narrLine">A demo video will go here.</div>
    </div>
</div>
