@page "/settings"

<PageTitle>Settings</PageTitle>

<div class="simShell">
    <div class="card">
        <div class="sectionTitle">Settings</div>
        <div class="narrLine">Settings will be added here soon.</div>
    </div>
</div>
